{% extends "utilities/base.html" %}
{% load getattribute %}


{% block head %}
    {{form.media.css}}
    <title>{{page_name}}</title>
{% endblock %}

{% block content %}
<!-- dosubmit function can be found in template/utilities/tab_selector.html -->
<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();" id="form">
    {% csrf_token %}

<div class="col-md-12 d-flex">
    <h4 class="mt-2">{{page_name}}</h4>

    {% if view != "inline" %}
        {% if page_name == "Edit event"%}
            <a class ="btn btn-link ml-auto" 
				href="{% url 'installations:add_event' %}"
                role="button">
					<i class="fa fa-plus"></i>
			</a>
        {% endif %}
        <a class ="btn btn-link ml-auto"
            href="{% url 'utilities:list_view' 'Event' 'installations'%}"
            role="button">
				<i class="fas fa-list"></i>
		</a>
    {% endif %}
</div>

{% include 'utilities/edit_minimize_tab.html' %}

<!-- contains div Edit and Minimize -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="Edit">
        {% if page_name == "Edit event" and 'unknown' not in crud.last_update %}
            {% include 'utilities/change_log.html' %}
            {% else %} <p class="mb-4"></p>
        {% endif %}

        <table class="table table-borderless table-sm" id="form_table">
            <tr class="d-flex">
                <th class="col-2">name</th>
                <td class="col-8">
					{{form.name}} 
					{{from.name.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">event type</th>
                <td class="col-8">
					{{form.event_type}} 
					{{from.event_type.error}}
				</td>
				<td>
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_eventtype'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">start date</th>
                <td class="col-8">
					{{form.start_date}} 
					{{from.start_date.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">end date</th>
                <td class="col-8">
					{{form.end_date}} 
					{{from.end_date.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">date comments</th>
                <td class="col-8">
					{{form.date_comments}} 
					{{from.date_comments.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">images</th>
                <td class="col-8">
					{{form.images}} 
					{{from.images.error}}
				</td>
				<td>
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_image'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">figure</th>
                <td class="col-8">
					{{form.figure}} 
					{{from.figure.error}}
				</td>
				<td>
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_figure'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">description</th>
                <td class="col-8">
					{{form.description}} 
					{{form.description.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">comments</th>
                <td class="col-8">
					{{form.comments}} 
					{{form.comments.error}}
				</td>
            </tr>
        </table>
    </div>

    <div class="tab-pane fade" id="Minimize">
        <!-- you can minimize the illustration form -->
        <br>

        <div class="col-md-12 d-flex">
            <h5 class="mb-1">{{form.instance.title}} </h5>
            <p class="text-small ml-auto text-secondary mb-1">
				{{form.instance.original_name}}
			</p>
        </div>

    </div>

</div>

{% if view == "inline" %}
{% else %}

{% include 'utilities/relation_tabs.html' %}
<div class="tab-content">
    <div class="tab-pane fade" id="Literature">
        {{eventliterature_formset.management_form}}
        <table class="table table-sm">
            <tr class ="d-flex">
                <th class="col-2">literature
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_literature'  'inline'%}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th class="col-1">page</th>
                <th class="col-3">text</th>
                <th class="col-3">file</th>
                <th class="col-2">type
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_texttype'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                <th><i class="fa fa-times text-danger"></i></th>
            </tr>
            {% for f in eventliterature_formset.forms %}
				{{f.media.css}}
                <tr class ="d-flex">
                    <td class="col-2">
						{{f.literature}} 
						{{f.installation.errors}}
					</td>
                    <td class="col-1">
						{{f.page_number}} 
						{{f.page_number.errors}}
					</td>
                    <td class="col-3">
						{{f.text}} 
						{{f.text.errors}}
					</td>
                    <td class="col-3">
						{{f.text_file}} 
						{{f.text_file.errors}}
					</td>
                    <td class="col-2">
						{{f.text_type}} 
						{{f.text_type.errors}}
					</td>
                    <td class="col-1">{{f.DELETE}} {{f.id}}</td>
                </tr>
			{{f.media.js}}
            {% endfor %}
        </table>
    </div>

    <div class="tab-pane fade" id="Person">
        {{eventperson_formset.management_form}}
        <table class="table table-borderless table-sm">
            <tr class ="d-flex">
                <th class="col-4">person
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_person'  'inline'%}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th class="col-3">role
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_eventrole'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th><i class="fa fa-times text-danger"></i></th>
            </tr>
            {% for f in eventperson_formset.forms %}
				{{f.media.css}}
                <tr class ="d-flex">
                    <td class="col-4">
						{{f.person}} 
						{{f.person.errors}}
					</td>
                    <td class="col-3">
						{{f.role}} 
						{{f.role.errors}}
					</td>
                    <td class="col-1">{{f.DELETE}} {{f.id}}</td>
                </tr>
			{{f.media.js}}
            {% endfor %}
        </table>
    </div>

    <div class="tab-pane fade" id="Institution">
        {{eventinstitution_formset.management_form}}
        <table class="table table-borderless table-sm">
            <tr class ="d-flex">
                <th class="col-4">institution
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_institution'  'inline'%}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th class="col-3">role
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_eventrole'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th><i class="fa fa-times text-danger"></i></th>
            </tr>
            {% for f in eventinstitution_formset.forms %}
				{{f.media.css}}
                <tr class ="d-flex">
                    <td class="col-4">
						{{f.institution}} 
						{{f.institution.errors}}
					</td>
                    <td class="col-3">
						{{f.role}} 
						{{f.role.errors}}
					</td>
                    <td class="col-1">{{f.DELETE}} {{f.id}}</td>
                </tr>
			{{f.media.js}}
            {% endfor %}
        </table>
    </div>

</div>

{% endif %}

<!-- current tab state is stored here to maintain it after submit -->
<!-- see tab_selector --> 
<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="hidden" name="focus" id="focus" value="" />

{% include 'utilities/save.html' %}

<!-- displays the help text for each field -->
{% include 'utilities/helper.html' %}
{{form.media.js}}

{% include 'utilities/tab_selector.html' %}

<br>

{% endblock content %}


