{% extends "utilities/base.html" %}
{% load getattribute %}


{% block head %}
    {{form.media.css}}
    <title>{{page_name}}</title>
{% endblock %}

{% block content %}
<!-- dosubmit function can be found in template/utilities/tab_selector.html -->
<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();" id="form">
    {% csrf_token %}

<div class="col-md-12 d-flex">
    <h4 class="mt-2">{{page_name}}</h4>

    {% if view != "inline" %}
        {% if page_name == "Edit literature"%}
            <a class ="btn btn-link ml-auto" 
				href="{% url 'installations:add_literature' %}"
                role="button">
					<i class="fa fa-plus"></i>
			</a>
        {% endif %}
        <a class ="btn btn-link ml-auto"
            href="{% url 'utilities:list_view' 'Literature' 'installations'%}"
            role="button">
				<i class="fas fa-list"></i>
		</a>
    {% endif %}
</div>

{% include 'utilities/edit_minimize_tab.html' %}

<!-- contains div Edit and Minimize -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="Edit">
	{% if page_name == "Edit literature" and 'unknown' not in crud.last_update %}
            {% include 'utilities/change_log.html' %}
            {% else %} <p class="mb-4"></p>
	{% endif %}

        <table class="table table-borderless table-sm" id="form_table">
            <tr class="d-flex">
                <th class="col-2">title</th>
                <td class="col-8">
					{{form.title}} 
					{{from.title.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">code</th>
                <td class="col-8">
					{{form.code}} 
					{{from.code.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">author</th>
                <td class="col-8">
					{{form.author}} 
					{{from.author.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">editor</th>
                <td class="col-8">
					{{form.editor}} 
					{{from.editor.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">publisher</th>
                <td class="col-8">
					{{form.publisher}} 
					{{from.publisher.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">place</th>
                <td class="col-8">
					{{form.place}} 
					{{from.place.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">year</th>
                <td class="col-8">
					{{form.year}} 
					{{from.year.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">journal</th>
                <td class="col-8">
					{{form.journal}} 
					{{from.journal.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">volume</th>
                <td class="col-8">
					{{form.volume}} 
					{{from.volume.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">issue</th>
                <td class="col-8">
					{{form.issue}} 
					{{from.issue.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">page numbers</th>
                <td class="col-8">
					{{form.page_numbers}} 
					{{from.page_numbers.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">description</th>
                <td class="col-8">
					{{form.description}} 
					{{form.description.error}}
				</td>
            </tr>
            <tr class="d-flex">
                <th class="col-2">comments</th>
                <td class="col-8">
					{{form.comments}} 
					{{form.comments.error}}
				</td>
            </tr>
        </table>
    </div>

    <div class="tab-pane fade" id="Minimize">
        <!-- you can minimize the illustration form -->
        <br>

        <div class="col-md-12 d-flex">
            <h5 class="mb-1">{{form.instance.title}} </h5>
            <p class="text-small ml-auto text-secondary mb-1">
				{{form.instance.original_name}}
			</p>
        </div>

    </div>

</div>

{% if view == "inline" %}
{% else %}

{% include 'utilities/relation_tabs.html' %}
<div class="tab-content">
    <div class="tab-pane fade" id="Event">
        {{literatureevent_formset.management_form}}
        <table class="table table-sm">
            <tr class ="d-flex">
                <th class="col-2">event
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_event'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                </th>
                <th class="col-1">page</th>
                <th class="col-3">text</th>
                <th class="col-3">file</th>
                <th class="col-2">type
                    <a class = "btn btn-link btn-sm ml-auto" target = "_blank"
                        href ="{% url 'installations:add_texttype'  'inline' %}" 
						role="button">
                        <i class="fa fa-plus"></i></a>
                <th><i class="fa fa-times text-danger"></i></th>
            </tr>
            {% for f in literatureevent_formset.forms %}
				{{f.media.css}}
                <tr class ="d-flex">
                    <td class="col-2">
						{{f.event}} 
						{{f.event.errors}}
					</td>
                    <td class="col-1">
						{{f.page_number}} 
						{{f.page_number.errors}}
					</td>
                    <td class="col-3">
						{{f.text}} 
						{{f.text.errors}}
					</td>
                    <td class="col-3">
						{{f.text_file}} 
						{{f.text_file.errors}}
					</td>
                    <td class="col-2">
						{{f.text_type}} 
						{{f.text_type.errors}}
					</td>
                    <td class="col-1">{{f.DELETE}} {{f.id}}</td>
                </tr>
			{{f.media.js}}
            {% endfor %}
        </table>
    </div>
</div>

{% endif %}

<!-- current tab state is stored here to maintain it after submit -->
<!-- see tab_selector --> 
<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="hidden" name="focus" id="focus" value="" />

{% include 'utilities/save.html' %}

<!-- displays the help text for each field -->
{% include 'utilities/helper.html' %}
{{form.media.js}}

{% include 'utilities/tab_selector.html' %}

<br>

{% endblock content %}


