{% extends "utilities/base.html" %}

{% block head %}
    <title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% include 'utilities/list_search_bar.html' %}

{% if installation_list %}
<br>

<div class="d-flex">

<table class="table table-hover">
    <tr>
    <th><a href="?order_by=caption,{{order}},{{direction}},{{query}}"
        style="text-decoration:none;">original name</a></th>
    <th><a href="?order_by=category,{{order}},{{direction}},{{query}}"
        style="text-decoration:none;">english name</a></th>
    <th></th>
    </tr>
    {% for i in installation_list %}

        <td>{{i.original_name}}</td>
        <td>{{i.english_name}}</td>
        <td style="white-space:nowrap;">
            <a class = "btn btn-link btn-sm ml-auto" 
href ="{% url 'utilities:delete_model' i.pk 'Installation' 'installations' %}"
                role="button">
                    <i class="fa fa-trash text-secondary"></i>
            </a>
            <a class = "btn btn-link btn-sm ml-auto"
                href ="{% url 'installations:edit_installation' i.pk %}"
                role="button">
                    <i class="far fa-edit text-secondary"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% else %}
    <p>no installations are available</p>
{% endif %}

{% endblock content %}
